:root {
	--white: hsl(0, 0%, 100%);
	--black: hsl(0, 0%, 0%);
	--darkdesaturatedblue: hsl(244, 38%, 16%);
	--verydarkblue: hsl(233, 47%, 7%);
	--slightlytransparentwhite1: hsla(0, 0%, 100%, 0.75);
	--slightlytransparentwhite2: hsla(0, 4%, 20%, 0.6);
	--softviolet: hsl(277, 64%, 61%);
	--darkgrayishred: hsl(0, 6%, 24%);
	--des-red: hsl(234, 31%, 56%);
	--soft-red: hsl(0, 93%, 68%);
	--green: hsl(120, 88%, 36%);
	--gradient1: linear-gradient(135deg, from hsl(0, 0%, 100%), to hsl(0, 29%, 95%));
	--gradient2: linear-gradient(135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%));
}
